body { 	 
	background-color: #4A4A4A; 
	scrollbar-face-color:#3F3F3F; 
	scrollbar-highlight-color:#666666; 
	scrollbar-shadow-color:#111111; 
	scrollbar-3dlight-color:#777777; 
	scrollbar-arrow-color:#777777; 
	scrollbar-track-color:#333333; 
	scrollbar-darkshadow-color:#111111
}

font,td,th,p { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #FFFFFF; font-size: 10px
}

a:link,a:active,a:visited { 
	text-decoration: underline;
	color : #FBC300; 
	font-size: 10px 
}

a:hover { 
	text-decoration: none; 
	color : #DDDDDD; 
	font-size: 10px 
}

input,textarea, select {
	background-image: url(../images/bgin.gif); 
	background-color: #575656; 
	border-bottom: #cccccc 1px outset; 
	border-left: #000000 1px outset; 
	border-right: #999999 1px outset; 
	border-top: #000000 4px outset; 
	color: #bbbbbb; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px
}

.footer {
	color:			#FFFFFF;
	font-family: 		Verdana, Arial, Helvetica, sans-serif;
	font-size: 		10px;
}

.tbl-shade1 {
	color: 			#FFFFFF;
	background-color: 	#4a4a4a; 
	border-bottom: 		#3a3a3a 1px solid; 
	border-left: 		#3a3a3a 1px solid; 
	border-right: 		#3f3f3f 0px solid; 
	border-top: 		#3f3f3f 0px solid;
}

.tbl-shade2 {
	color: 			#FFFFFF;
	background-color: 	#595959; 
	border-bottom: 		#3a3a3a 1px solid; 
	border-left: 		#3a3a3a 1px solid; 
	border-right: 		#3f3f3f 0px solid; 
	border-top: 		#3f3f3f 0px solid;
}

.tbl-shade3 {
	color: 			#FFFFFF;
	background-color: 	#4a4a4a; 
	border-bottom: 		#3a3a3a 1px solid; 
	border-left: 		#3a3a3a 1px solid; 
	border-right: 		#3f3f3f 0px solid; 
	border-top: 		#3f3f3f 0px solid;
}

.tbl-shade4 {
	color: 			#FFFFFF;
	background-color: 	#595959; 
	border-bottom: 		#3a3a3a 1px solid; 
	border-left: 		#3a3a3a 1px solid; 
	border-right: 		#3f3f3f 0px solid; 
	border-top: 		#3f3f3f 0px solid;
}

.tbl-frame1 {
	color: 			#FFFFFF;
	background-color: 	#000000;
}

.tbl-hdr {
	color: 			#FFFFFF;
	background-color: 	#315984; 
	font-weight: 		bold;
	border-bottom: 		#000000 2px groove; 
	border-left: 		#888888 2px groove; 
	border-right: 		#000000 2px groove; 
	border-top: 		#888888 2px groove;
}

.text {
	color: 			#FFB000; /* <= HL Orange, previous was #FFFFFF*/
	font-family: 		Verdana, Arial, Helvetica, sans-serif;
	font-weight: 		normal;
	font-size: 		10px;
}

.main-canvas {
	background-color: 	transparent;
}

.main-bg {
	BACKGROUND-IMAGE: 	url(../images/bgin.gif); 
	background-repeat: 	repeat-x;
	background-color: 	#575656; 
	border-bottom: 		#cccccc 1px outset; 
	border-left: 		#000000 1px outset; 
	border-right: 		#999999 1px outset; 
	border-top: 		#000000 2px outset; 
	COLOR: 			#bbbbbb; 	
	FONT-FAMILY: 		Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 		10px
}

.table {
	border: thin solid #315984;
}

text-block {
  font-family: monospace;
  margin: 1em 0;
  color: #FFFFFF
}

.attribs, .skills_name, .skills_descr, .skills_max, .skills_min, .admin_check { 
	font-family: monospace;
	color : #FFB000; font-size: 11px
}

